@media only screen and (max-width: 699px) {
    /* Inicio */
    .menu {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
    
    .menu a {
        padding: 20px;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .ilustracao {
        display: none;
    }

    /* Sobre */
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .imagem {
        width: 180px;
        height: 180px;
        padding: 30px 0;
    }

    .paragrafo {
        max-width: 90%;
        font-size: 0.75rem;
        line-height: 18px;
        text-align: justify;
        margin-bottom: 30px;
    }
    
    .paragrafo p:first-of-type {
        margin-bottom: 1rem;
    }
    
    .imagem {
        border-radius: 50%;
    }

}

@media only screen and (min-width: 700px) and (max-width: 980px){
    /* Inicio */
    .menu {
        display: flex;
        justify-content: center;
        max-width: 100%;
        font-size: 0.875rem;
    }
}